<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  
  <script src="https://maps.googleapis.com/maps/api/js?key=KEY"
  ></script>
  <script type="module" src="./javascripts/google.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>