<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/stylemain.css' />
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Righteous&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDj33wEHIPkyNq4oYo3PfEHJuk--dp05bQ"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="module" src="./javascripts/google.js"></script>
  <script type="module" src="./javascripts/filter-checkbox.js"></script>
  <script type="module" src="./javascripts/list.js"></script>
</head>

<body>
  <nav>
    <div>
        <h1>
            Pipinterest
        </h1>
    </div>
    <div class="nav">
        <ul>
            <li><a href="http://">home</a> </li>
            <li><a href="http://">login</a> </li>
            <li><a href="http://">admin</a> </li>
            <li><a href="http://">en/fr</a> </li>
        </ul>
    </div>
</nav>

  {{{body}}}
</body>

</html>