<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/stylemap.css' />
  <link rel='stylesheet' href='/stylesheets/stylemain.css' />
  <link rel="stylesheet" href="/stylesheets/dropdown.css"/>
  <link rel="stylesheet" href="/stylesheets/signin-signup.css"/>
  <link rel="stylesheet" href="/stylesheets/messages.css"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Righteous&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDj33wEHIPkyNq4oYo3PfEHJuk--dp05bQ"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  {{#each scripts}}
    <script type="module" src="/javascripts/{{this}}.js"></script>
  {{/each}}
  <script type="module" src="/javascripts/list.js"></script>
  <script type="module" src="/javascripts/filter-checkbox.js"></script>
  <script type="module" src="/javascripts/filter-arrondissement.js"></script>
  {{!-- <script type="module" src="./javascripts/google.js"></script>
  <script type="module" src="./javascripts/google.js"></script> --}}
</head>

<body>
  <nav class="nav minigrid">
     <div class="dropdown">
      <img class="dropbtn" src="./../images/bars-solid.png">
      <div class="dropdown-content">
        <a href="/">home</a>
        <a href="/auth/signin">log in</a>
         <a href="/auth/signup">sign up</a>
        <a href="/create-toilet">add new toilets</a>
        <a href="/dashboard">admin</a>
        <a href="/auth/signout">log out</a>
      </div>
     </div>
    <div id="titre">
      <h1>
          Pipinterest
      </h1>
    </div>
 


 
   
  </nav>
  {{> flashMessage }}
  {{{body}}}


</body>

</html>