<section class="sign form-container">
  <header class="form-header">
    <h2 class="form-title">welcome back !</h2>
  </header>

  {{!-- {{#if msg}}
  <p class="message {{msg.status}}">{{msg.text}}</p>
  {{/if}} --}}

  <form method="post" action="/auth/signin" class="form">
    <div class="form-content">

      <div class="form-labels">
        <label for="pseudo" class="label">nickname</label>
        <label for="email" class="label">email</label>
        <label for="password" class="label-ref label">password</label>
      </div>

      <div class="form-inputs">
         <input id="pseudo" type="text" name="pseudo" class="input" placeholder="toilett4t0R75" required
          placeholder="toilett4t0R75">
        <input id="email" type="email" name="email" class="input" placeholder="albert.biceps@gmail.com" required
          placeholder="yo@gui.com">
        <input id="password" type="password" name="password" class="input-text input" placeholder="••••••" required
          placeholder="12345">
      </div>

       </div>

      <button class="form-btn">log in !</button>
      <p class="form-sub-infos">don't have an account yet ? <a href="/auth/signup" class="button-link-form">please sign
          up
          !</a></p>

  </form>

</section>