.form-title {
    color: black;
    text-align: center;
}

.enjoy {
    width: 40vw;
    line-height: 7vw;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-content {
    display: flex;
    flex-direction: row;
} 

.form-inputs {
    display: flex;
    flex-direction: column;
}

.form-labels {
    display: flex;
    flex-direction: column;
}


.input {
    width: 12rem;
    height: 2rem;
    border: 1px solid lightgray;
    margin: 0.5vw;
    color: #696969;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
}

.label {
    color: #696969;
    margin: 1rem;
}

.form-btn {
    width: 19rem;
    height: 2rem;
    border: 1px solid lightgray;
    border-radius: 50vh;
    color: #696969;
    margin: 0.5vw;
}

.form-sub-infos {
    color: #696969;
    margin: 0.5vw;
}

@media  (min-width: 769px) {
   
.form-container {
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
    background-color: #c1eccf;
    border-radius: 0.5rem;
}
}

@media (max-width: 768px) {
   
    .form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 1rem;
        background-color: #c1eccf;
        border-radius: 0.5rem;
    }
}


