/* couleurs  
	beige #f6e8e8	(246,232,232)
  mauve normal #dfc8ea	(223,200,234) --  
  mauve clair  #ebdef2;
  vert #c1eccf	(193,236,207)
  jaune #f6e268	(246,226,104)
  rouge #f97979	(249,121,121)*/


/* STYLES DE BASE */

body {
    padding: 0;
    margin: 0;
    font: 14px Montserrat;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  /*logo*/

  nav {
    width: 100vw;
  }

  .minigrid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1 85px;
  }

  #titre {
    grid-column-start: 3 ;
    text-align: right;
  }

  .dropdown {
    grid-column-start: 1 ;
  }

  /*titres*/  
  h1, 
  h2, 
  h3,
  h4,
  h5 {
    font-family: Pacifico;
  }
  
  h1 {
    font-size: 4.5rem;
    margin: 1rem;
    color: #f97979;
  }

  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 2.75rem;
  }
  
  h4 {
    font-size: 2.25rem;
  }

  h5 {
    font-size: 1.75rem;
  }

  /*tableaux*/
  table,
  td,
  th {
    border-collapse: collapse;
    border: 1px solid #ebdef2;
    font-size: small;
  }
  td, th {
    padding: 0.55em;
  }

  td img {
    width: 35px;
  }
  
  /*div colorées, styles de base (cf plus bas pour media queries)*/
  .grid,
  .minigrid {
    display: grid;
  }

  .grid {
    grid-gap: 1rem
    }

  .jaune,
  .rouge,
  .mauve,
  .vert {
    border-radius: 0.5rem;
    padding: 1rem;
  }

  .jaune {
    background-color: #f6e268;
  }

  .rouge {
    background-color: #f97979;
  }

  .mauve {
    background-color: #dfc8ea;
  }

  .vert {
    background-color: #c1eccf;
    margin: 1rem;
  }


  article img {
    width: 15vw;
    border-radius: 50%;
  }

  footer {
    text-align: center;
    font-size: 0.6rem;
  }

  #list {
    overflow: scroll;
    height: calc(100vh - 3rem);
  }

  .flex-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

/* PETITS ÉCRANS */

  /@media screen and (max-width: 768px) {

    .grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-gap: 1rem;
    }
    .mauve {    
      grid-column-start: ;
      grid-column-end: ;
      grid-row-start: ;
      grid-row-end: ;
      margin-right: ; 
    }
      .jaune {
  
      }
      .rouge {
        height: calc(100 vh - 7.75rem);
  
      }
      #list {
        height: calc(100vh - 3rem);
      }
      
      .vert {
        
      }
      .vert #map {
        height: 80vh;
      }
  }

/* MOYENS ÉCRANS */

  @media screen and (min-width: 769px) and (max-width: 1201px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 60fr);
      grid-gap: 1rem;
    }
      
    .mauve {    
      grid-column-start: 2;
      grid-column-end: span 2;
      grid-row-start: 1;
      grid-row-end: 40;
      margin-right: 1rem; 
    }
    .jaune {
      grid-column-start: 1;
      grid-column-end: span 3;
      grid-row-start: 24;
      grid-row-end: 60;
    }
    .rouge {
      grid-column-start: 1;
      grid-column-end: span 1;
      grid-row-start: 1;
      grid-row-end: span 22;
      height: calc(100vh - 4.25rem);
    }

    .vert #map {
      height: 80vh;
    }
  } 

/* GRANDS ÉCRANS */

  @media screen and (min-width: 1201px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(auto-fill, 40vh);
      grid-gap: 1rem;
    }

    .mauve {  
      grid-column-start: 2;
      grid-column-end: span 2;
      grid-row-start: 1;
      grid-row-end: span 3;
      margin-right: 1rem;
    }

    .jaune {
      grid-column-start: 1 ;
      grid-column-end: 2 ;
      grid-row-start: 2;
      grid-row-end:3 ;
      margin-left: 1rem;
    }

    .rouge {
      grid-column-start: 1 ;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end:2 ;
      margin-left: 1rem;
    }

    .vert {
      height: calc(100vh - 160px);
    }
  
    .vert #map {
      height: calc(100vh - 420px);
    }
  }


