/* couleurs  
	beige #f6e8e8	(246,232,232)
  mauve #dfc8ea	(223,200,234)
  vert #c1eccf	(193,236,207)
  jaune #f6e268	(246,226,104)
  rouge #f97979	(249,121,121)*/


/* STYLES DE BASE */

body {
    padding: 0;
    margin: 0;
    font: 14px Montserrat;
    box-sizing: border-box;
  }
  
  h1, 
  h2, 
  h3,
  h4,
  h5 {
    font-family: Pacifico;
  }
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 2.75rem;
  }
  
  h4 {
    font-size: 2.25rem;
  }

  h5 {
    font-size: 1.75rem;
  }



  table,
  td,
  th {
    border-collapse: collapse;
    border: 1px solid #ebdef2;
  }
  td, th {
    padding: 0.55em;
  }

  #map img {
    width: calc(100vw - 6rem);
  }
  
  .jaune,
  .rouge,
  .mauve,
  .vert {
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem;
    width: calc(100vw - 5rem);
  }

  .jaune {
    background-color: #f6e268;
  }

  .rouge {
    background-color: #f97979;
  }

  .mauve {
    background-color: #dfc8ea;
  }

  .vert {
    background-color: #c1eccf;
  }

  .flex-container {
    display: flex;
  }

  article img {
    width: 25vw;
  }

  footer {
    text-align: center;
    font-size: 0.6rem;
  }


/* PETITS ÉCRANS */

  @media (max-width: 768px) {
    .flex-container{
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }

/* MOYENS ÉCRANS */

  @media (min-width: 769px) and (max-width: 1200px) {
    .flex-container{
      flex-direction: column;
      
    }
  }

/* GRANDS ÉCRANS */

  @media (min-width: 1201px) {
    .flex-container{
      flex-direction: row;
    }
  }