body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#map {
  width: 80vw;
  height: 80vh;
  margin: 5vw 10vw;
  border: 1px solid black;
}

#mapUser {
  width: 80vw;
  height: 80vh;
  margin: 5vw 10vw;
  border: 1px solid black;
}

 /*carte*/
 #map img {
  width: calc(100vw - 10rem);
}